.btn-blue {
	background-color: indianred;
	padding: 20px 25px;
	border-radius: 5px;
	color : white;
	font-weight: bold;
	font-family: 'Bodoni', sans-serif;
}

.btn-blue:hover {
	background-color: lightblue;
	color: white;
	border-radius: 15%;

}