.container {
	width: 800px; 
	margin: 0 auto;

}

@media (max-width: 950px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 810px;
  }
}
@media (max-width: 710px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 610px;
  }
}
@media (max-width: 550px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 410px;
  }
}
